<!doctype html>
<html lang="ar" dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="/assets/jQuery.min.js"></script>
        <script src="/assets/helperFun.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;900&display=swap" rel="stylesheet">
        <title>استبيان</title>
    </head>

    <body>
        <nav class = "navbar bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand">استبيان التقييم المبدئي – لومينوس</a>
            </div>
        </nav>

        <div id="middle-section" class="row justify-content-center" >
            <div id="main" class="container cardstyle1">
                <div class="row justify-content-center" style="height: 60%; align-items: center;" >
                    <div class="col-12 d-flex justify-content-center" style="height: 60%; align-items: center;">
                        <img id="displayImg" src=""  style="height:100%;"  alt="unknown" >
                    </div>    
                </div>
                <div id="ques" class="row justify-content-center" style="height: 10%; ">تاريخ بداية الدورة التدريبية/ الدبلوم/ البرنامج:</div>
                
                <div class="row justify-content-center" style="height: 20%;" >
                    <div class="col-12 d-flex justify-content-center" style="height: 15%;" > 
                        <input type="date"  style="width: 80%;" name="trip-start"
                        value="2000-01-01"
                        min="2000-01-01" max="2023-12-31"> 
                    </div>
                </div>

   
            

        <script>

            var rank    = "<%= info[0].quesRank %>";
                type    = "<%= info[0].ansType %>",
                title   = "<%= info[0].title %>";
            
            var info = "<%=info[1]%>";
            var ansString = [];
            var ans ="";
            var imgstr ="";

            var linfo = info.split(",");
        
            var localans = "";
            var gender = "";

            if(linfo.length > 4){
                var ansJson = listToJSON(linfo);
                var str="ans"+rank;
                if(ansJson[str] != undefined){
                    ans = ansJson[str];
                }
                if(ansJson["ans2"] != undefined){
                    gender = ansJson["ans2"];
                }
            }

        
            if(gender == "ذكر"){
            
                $("#displayImg").attr("src","/m.png");
            }else{
            
                $("#displayImg").attr("src","/f.png");
            }
        

            var clicked = false;
            $("#syr").click(function(){
                $(this).css("border","solid 2px #FFC260");
                $("#jor").css('border','');
                $("#other").css('border','');
                $("#otherTxt").prop("disabled",true);
                $("#otherTxt").val("");
                localans ="سوري" ;
                clicked = false;
                });

            $("#jor").click(function(){
                $("#syr").css('border','');
                $("#other").css('border','');
                $("#otherTxt").prop("disabled",true);
                $(this).css("border","solid 2px #FFC260");
                $("#otherTxt").val("");
                clicked = false;
                localans = "أردني";
                
            });

            $("#other").click(function(){
                $("#syr").css('border','');
                $("#jor").css('border','');
                $("#otherTxt").prop("disabled",false);
                $(this).css("border","solid 2px #FFC260");
                clicked = true;
                localans = "";
            });

            if(ans !== ""){
                if(ans == "أردني"){
                    $("#jor").click();
                }else if(ans == "سوري"){
                    $("#syr").click();
                }else{
                    $("#other").click();
                }
                
            }

        </script>


<%- include('partials/footer.ejs') %>



<script>




$("#prev").click(function(){
    var prevq = Number(rank)-1;
    var str = "/question/"+String(prevq);
    window.location.href = str;
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



<script> 
    // document.getElementById("prev").disabled = true;
    var temp = document.getElementById("phone");

    $("#next").click(function(){
        //get input
        var inp = $("#otherTxt").val();
        if(localans== "" && ans == "" && inp == ""){
            alert("الرجاء الإجابة على السؤال")
        }else{
            if(localans != ""){
                $.post("/submit", {answer : localans, quest : rank});
            }else if(inp != ""){
                $.post("/submit", {answer : inp, quest : rank});
            }
            window.location.href = "/question/"+String(Number(rank)+1);
        }

    })

    
</script>