<!doctype html>
<html lang="ar" dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="/assets/jQuery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/assets/helperFun.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;900&display=swap" rel="stylesheet">
        <title>استبيان</title>
    </head>

    <body>
        <nav class = "navbar bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand">استبيان التقييم المبدئي – لومينوس</a>
            </div>
        </nav>

        <div id="middle-section" class="row justify-content-center" >
            <div id="main" class="container cardstyle1">
                <div id="ques" class="row justify-content-center" style="height: 15%; font-size: 1.8vh; align-items: center; text-align: center;"></div>

                <!-- <div class="row justify-content-center" style="height: 5%; font-size: 2vh; align-items: center; text-align: center;">قبل:</div> -->
                <div class="row justify-content-center" style="height: 22.5%; align-items: center;" >
                    <div id="imgDiv" class="col-12 d-flex justify-content-center" style="align-items: center; height: 100%;">
                        <img id="bef" src="/3.png"  style="height: 100%;"  alt="unknown" >
                    </div>      
                </div>
                <div class="row justify-content-between" style="height: 15%; align-items: center;" >
                    <div class="col-12 d-flex justify-content-center" style="height: 20%; align-items: center;" > 
                        <input type="range" id="rangeBef" min="1" max="5" > 
                    </div>
                </div>


                <!-- <div class="row justify-content-center" style="height: 5%; font-size: 2vh; align-items: center; text-align: center;">بعد:</div> -->
                <div class="row justify-content-center" style="height: 22.5%; align-items: center;" >
                    <div id="imgDiv" class="col-12 d-flex justify-content-center" style="align-items: center; height: 100%;">
                        <img id="af" src="/3.png"  style="height: 100%;"  alt="unknown" >
                    </div>      
                </div>
                
                <div class="row justify-content-between" style="height: 15%; align-items: center;" >
                    <div class="col-12 d-flex justify-content-center" style="height: 20%; align-items: center;" > 
                        <input type="range" id="rangeAf" min="1" max="5" > 
                    </div>
                </div>

   
            

        <script>

            var rank    = "<%= info[0].quesRank %>";
                type    = "<%= info[0].ansType %>",
                title   = "<%= info[0].title %>";
            
            var info = "<%=info[1]%>";
            var ans ="";
            var imgstr ="";

            var linfo = info.split(",");
        
            var localansBef = "";
            var localansAf = "";

            if(linfo.length > 4){
                var ansJson = listToJSON(linfo);
                var str="ans"+rank;
                if(ansJson[str] != undefined){
                    ans = ansJson[str];
                }
            }

            function updateImg(num,imgSrc){
                $("#"+imgSrc).attr("src","/"+num+".png");
            }
            
            console.log("here")
            if(ans != ""){
                var ls = ans.split("/");
                updateImg(ls[0],"bef");
                updateImg(ls[1],"af");
            }

            $("#rangeBef").on("input",function(e,ui){
                var rng = document.getElementById("rangeBef");
                var rngVal =  rng.value;
                localansBef = rngVal;
                updateImg(rngVal,"bef");
            });

            $("#rangeAf").on("input",function(e,ui){
                var rng = document.getElementById("rangeAf");
                var rngVal =  rng.value;
                localansAf = rngVal;
                updateImg(rngVal,"af");
            });

            $("#ques").text(title);
        </script>



<%- include('partials/footer.ejs') %>


<script>
$("#prev").click(function(){
    var prevq = Number(rank)-1;
    var str = "/question/"+String(prevq);
    window.location.href = str;
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<script> 
    // document.getElementById("prev").disabled = true;

    $("#next").click(function(){
        //get input
     
  
        if(ans == "" && (localansAf == "" || localansBef == "")){
            alert("الرجاء الإجابة على السؤال")
        }else{
            if(localansAf != "" && localansBef != ""){
                $.post("/submit", {answer : localansBef+"/"+localansAf, quest : rank});
            }
            if(rank == 47){
                window.location.href = "/exit";
            }else{
                window.location.href = "/question/"+String(Number(rank)+1);
            }
            
        }

    })

    
</script>