<!doctype html>
<html lang="ar" dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="/assets/jQuery.min.js"></script>
        <script src="/assets/helperFun.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;900&display=swap" rel="stylesheet">
        <title>استبيان</title>
    </head>

    <body>
        <nav class = "navbar bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand">استبيان التقييم المبدئي – لومينوس</a>
            </div>
        </nav>

        <div id="middle-section" class="row justify-content-center" >
            <div id="main" class="container cardstyle1" style="max-height: 75%; width: fit-content;">
                <div class="row justify-content-center" style="height: 70%; align-items: center;" >
                    <div class="col-12 d-flex justify-content-center" style="height: 80%; align-items: center;">
                        <img id="displayImg" src="/13/male-def.png"  style="height:100%;"  alt="unknown" >
                    </div>    
                </div>
                <div  class="row justify-content-center" style="height: 5%; ">لماذا ستترك هذا العمل؟</div>
                
                <div class="row justify-content-center" style="height: 15%; align-items: center;" >
                    <div class="col"> 
                        <select id="nojobsel" style="width: 100%; font-size: medium;" size="1">
                            <optgroup >
                                <option value="lose" id="lose">سأخسر وظيفتي أو ستنتهي مدة عقدي</option>
                                <option id="family">أسباب عائلية</option>
                                <option id="job">وجدت وظيفة أفضل</option>
                                <option id="trans">صعوبة الوصول لمكان العمل</option>
                                <option id="money">لم اعد محاج للمال</option>
                                <option id="hate">لا احب عملي الحالي</option>
                                <option id="oth">أخرى</option>
                                <option id="dunno">لا أعرف</option>
                                <option id="no">رفض الاجابة</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

   
            

        <script>

            var rank    = "<%= info[0].quesRank %>";
                type    = "<%= info[0].ansType %>",
                title   = "<%= info[0].title %>";
            
            var info = "<%=info[1]%>";
            var ans ="";
            var imgstr ="";

            var linfo = info.split(",");
            var isleaving = false;
            var localans = "";
            var gender = "";

            if(linfo.length > 4){
                var ansJson = listToJSON(linfo);
                var str="ans"+rank;
                if(ansJson[str] != undefined){
                    ans = ansJson[str];
                }
                if(ansJson["ans2"] != undefined){
                    gender = ansJson["ans2"];
                }
                
            }

            if(gender == "ذكر" ){
                $("#displayImg").attr("src","/13/male-oth.png");
            }else{
                $("#displayImg").attr("src","/13/female-oth.png");
            }
            
            
            if(ans != ""){
                
                if(ans == "سأخسر وظيفتي أو ستنتهي مدة عقدي" ){
                    $('#lose').attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else if(ans == "أسباب عائلية"){
                    $("#family").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else if(ans == "وجدت وظيفة أفضل"){
                    $("#job").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else if(ans == "صعوبة الوصول لمكان العمل"){
                    $("#trans").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else if(ans == "لم اعد محاج للمال"){
                    $("#money").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else if(ans == "لا احب عملي الحالي"){
                    $("#hate").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else if(ans == "أخرى"){
                    $("#oth").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else if(ans == "لا أعرف"){
                    $("#dunno").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }else{
                    $("#no").attr("selected","true");
                    updateImage($("#nojobsel option:selected" ).attr("id"));
                }
                
            }

            function updateImage(txt){
                
                var temp = "/13/";
                if(gender == "ذكر"){
                    temp += "male-";
                }else{
                    temp += "female-";
                }
                temp += (txt +".png");
                $("#displayImg").attr("src",temp);
            };

            $("#nojobsel").change(function(e){
                localans = $("#nojobsel option:selected" ).text();
                updateImage($("#nojobsel option:selected" ).attr("id"));
            });

        </script>
<%- include('partials/footer.ejs') %>
<script>
$("#prev").click(function(){

    var prevq = Number(rank)-1;
    var str = "/question/"+String(prevq);
    window.location.href = str;
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<script> 
    // document.getElementById("prev").disabled = true;

    $("#next").click(function(){
        if(ans == "" && localans == ""){
            alert("please answer")
        }else{
            if(localans != ""){
                $.post("/submit", {answer : localans, quest : rank});
            }
            window.location.href = "/question/"+String(Number(rank)+1);
        }

    })

    
</script>